body {
  overflow-y: hidden;
  overflow-x: hidden;
  background: url(./assets/map.png);
  background-color: sandybrown;
  background-repeat: no-repeat;
  background-size: cover;
}
.walls {
  position: absolute;
}
.car_container {
  width: auto;
  height: auto;
}
.car {
  position: absolute;
  height: 30px;
  background-color: blueviolet;
  width: 10px;
}
.wall1,
.wall2,
.wall3,
.wall4,
.wall5,
.wall6,
.wall7,
.wall8,
.wall9,
.wall10,
.wall11,
.wall12,
.wall13,
.wall14,
.wall15,
.wall16,
.wall17,
.wall18,
.wall19,
.wall20,
.wall21,
.wall22,
.wall23,
.wall24,
.wall25,
.wall26,
.wall27 {
  position: absolute;
}
.wall1 {
  height: 240px;
  width: 16px;
  top: 320px;
  left: 70px;
}

.wall2 {
  height: 16px;
  width: 544px;
  top: 324px;
  left: 70px;
}
.wall3 {
  height: 16px;
  width: 224px;
  top: 388px;
  left: 134px;
}
.wall4 {
  height: 16px;
  width: 208px;
  top: 388px;
  left: 406px;
}
.wall5 {
  height: 112px;
  width: 16px;
  top: 390px;
  left: 134px;
}
.wall6 {
  height: 112px;
  width: 16px;
  top: 390px;
  left: 342px;
}
.wall7 {
  height: 16px;
  width: 224px;
  top: 484px;
  left: 134px;
}
.wall8 {
  height: 16px;
  width: 208px;
  top: 484px;
  left: 406px;
}
.wall9 {
  height: 112px;
  width: 16px;
  top: 390px;
  left: 406px;
}
.wall10 {
  height: 112px;
  width: 16px;
  top: 390px;
  left: 598px;
}
.wall11 {
  height: 16px;
  width: 954px;
  top: 548px;
  left: 70px;
}
.wall13 {
  height: 304px;
  width: 16px;
  top: 198px;
  left: 660px;
}
.wall14 {
  height: 340px;
  width: 16px;
  top: -16px;
  left: 596px;
}
.wall15 {
  height: 170px;
  width: 16px;
  top: -16px;
  left: 660px;
}
.wall16 {
  height: 16px;
  width: 424px;
  top: 484px;
  left: 662px;
}
.wall17 {
  height: 16px;
  width: 664px;
  top: 134px;
  left: 662px;
}
.wall18 {
  height: 16px;
  width: 600px;
  top: 198px;
  left: 662px;
}
.wall19 {
  height: 336px;
  width: 16px;
  top: 198px;
  left: 1248px;
}
.wall20 {
  height: 458px;
  width: 16px;
  top: 134px;
  left: 1312px;
}
.wall21 {
  height: 64px;
  width: 16px;
  top: 580px;
  left: 1072px;
}
.wall22 {
  height: 80px;
  width: 16px;
  top: 564px;
  left: 1008px;
}
.wall23 {
  height: 48px;
  width: 16px;
  top: 484px;
  left: 1072px;
}
.wall24 {
  height: 16px;
  width: 176px;
  top: 516px;
  left: 1072px;
}
.wall25 {
  height: 16px;
  width: 256px;
  top: 580px;
  left: 1072px;
}
.wall26 {
  height: 16px;
  width: 80px;
  top: 630px;
  left: 1010px;
}
.wall27 {
  height: 16px;
  width: 80px;
  top: -16px;
  left: 596px;
}
