body {
  overflow-y: hidden;
  overflow-x: hidden;
  background: url(./assets/map.png);
  background-color: sandybrown;
  background-repeat: no-repeat;
  background-size: cover;
}
.car {
  position: absolute;
  height: 30px;
  background-color: blueviolet;
  width: 10px;
}
